Source: switchboard-plug-mouse-touchpad
Section: x11
Priority: optional
Maintainer: Keith Gonyon <kgonyon@gmail.com> 
Build-Depends: cmake, 
               debhelper (>= 9), 
               libgranite-dev, 
               libswitchboard-2.0-dev, 
               valac (>= 0.22)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/switchboard-plug-mouse-touchpad

Package: switchboard-plug-mouse-touchpad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: switchboard
Description: Mouse/Touchpad plug for Switchboard
 This plug configures mouse and touchpad. 